# OS
.DS_Store
Thumbs.db

# Node
node_modules/
**/node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/
out/
.next/
.cache/

# Env
.env
.env.*

# App data
uploads/

